.blur,
.blur::selection {
  color: transparent;
  text-shadow: 0 0 8px #000;
  cursor: pointer;
}
.correct-input {
  border-color: green;
  border-width: 2px;
}
.incorrect-input {
  border-color: red;
  border-width: 2px;
}

.carousel-control-prev,
.carousel-control-next {
  top: auto;
  bottom: 20px;
}

.input-datalist {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

datalist {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #adb5bd;
  border-radius: 0 0 5px 5px;
  border-top: none;
  width: 100%;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

option {
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

option:hover {
  background-color: #d3d3d3;
}
